<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}

    {% include home/registration.html %}

    {% include home/about.html %}
    
    {% include home/speakers.html %}

    {% if site.data.state.agenda %}
    {% assign agenda_draft = false %}
    {% if site.data.state.agenda == "draft" %}{% assign agenda_draft = true %}{% endif %}
    {% include agenda.html agenda-data=site.data.mlss-agenda draft=agenda_draft notes=site.data.state.agenda-notes %}
    {% endif %}

    {% if site.data.state.program-format %}
    {% assign program_format_note = true %}
    {% if site.data.state.agenda %}{% assign program_format_note = false %}{% endif %}
    {% include home/program-format.html show-note=program_format_note %}
    {% endif %}

    {% include home/timeline.html %}
    
    {% include home/venue.html %}

    {% include home/sponsors-call.html %}

    {% include home/sponsors.html %}

    {% include home/organizers.html %}

    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
</body>

</html>