<div id="registration" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Registration</h2>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-12">
            <p>
                Applications are now open for {{ site.inline-logo }}. Learn more about the application process and secure your spot!
            </p>
            <div class="d-flex justify-content-center">
                <a href="{{ "./registration" | relative_url }}" class="btn btn-default btn-lg"><i class="fa-solid fa-table-list"></i> <span class="network-name">Register for the school</span></a>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 1em;">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li class="me-3">
                    <a href="{{ "./terms-of-participation" | relative_url }}" class="btn btn-default btn-small">
                        <i class="fa-solid fa-file-lines"></i> Terms of participation
                    </a>
                </li>
                <li>
                    <a href="{{ "./privacy-policy" | relative_url }}" class="btn btn-default btn-small">
                        <i class="fa-solid fa-file-lines"></i> Privacy policy
                    </a>
                </li>
                <li>
                    <a href="{{ "./anti-harassment-policy" | relative_url }}" class="btn btn-default btn-small">
                        <i class="fa-solid fa-file-lines"></i> Anti-Harassment Policy
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>