<!-- Call for Sponsors Section -->
<section id="sponsors-call" class="container content-section">
    <div class="row">
        <div class="col-md-12">
            <h2>/ Call for Sponsors</h2>
            <p class="lead" style="margin-bottom: 40px;">Become a sponsor of our summer school and support the next generation of machine learning researchers. Please get in touch with us at <strong><a href="mailto:mlss-sponsors@mlinpl.org" class="emph">mlss-sponsors@mlinpl.org</a></strong>.
        </div>
    </div>
    <div class="row sponsor-cards">
        <div class="col-md-4">
            <div class="sponsor-benefit-card">
                <div class="sponsor-icon">
                    <i class="fas fa-users fa-4x"></i>
                </div>
                <h4>Connect with Talent</h4>
                <p style="margin: 0;">Connect with over 100 selected students and early-career researchers</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sponsor-benefit-card">
                <div class="sponsor-icon">
                    <i class="fas fa-graduation-cap fa-4x"></i>
                </div>
                <h4>Knowledge Presence</h4>
                <p style="margin: 0;">Get direct academic and technical visibility with a&nbsp;sponsored talk or hands-on session</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sponsor-benefit-card">
                <div class="sponsor-icon">
                    <i class="fas fa-bullhorn fa-4x"></i>
                </div>
                <h4>Brand Visibility</h4>
                <p style="margin: 0;">Get prominent exposure across event channels</p>
            </div>
        </div>
    </div>
</section>
