<div class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Stay informed</h2>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col-lg-12">
            <p>
                Sign up to receive updates about {{ site.inline-logo }}, including information about the programme, speakers and application process.
            </p>
            <div class="d-flex justify-content-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdXr4SqkVD8qDuNP9KDdBiqErpWMl6EYZESPf7XQEwDaFYmfg/viewform" target="_blank" class="btn btn-primary btn-lg">Join the Mailing List</a>
            </div>
        </div>

        <div class="col-lg-12">
            <ul class="list-inline">
                <!-- <li class="me-3">
                    <a href="{{ "./terms-of-participation" | relative_url }}" class="btn btn-default btn-small">
                        <i class="fa-solid fa-file-lines"></i> Terms of participation
                    </a>
                </li> -->
                <li>
                    <a href="{{ "./privacy-policy" | relative_url }}" class="btn btn-default btn-small">
                        <i class="fa-solid fa-file-lines"></i> Privacy policy
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>